# Исключить виртуальное окружение
.venv/

# Исключить файлы конфигурации среды
.env

# Исключить файлы кэша и временные файлы
__pycache__/
*.pyc
*.pyo

# Исключить файлы IDE
.vscode/
.idea/

# Исключить логи
*.log

# Исключить файлы базы данных SQLite
*.sqlite3